{% import "macros/utils.html" as utils %}
<style type="text/css">
  {{ data.widget.style }}
</style>

<br>
<div class="modal-popup-box" data-bodybg="#e61b80" style="text-align: center;">
	<button class="model-popup-btn popup-119" data-id="popup-119" style="transition: all 0.2s ease 0s;color: #ffffff;background:  ; border: 0px solid transparent; border-radius: 3px; font-size: 16px; padding: 5px 20px;">
		Aplican restricciones			
	</button>


</div>
