{% import "macros/utils.html" as utils %}

<style type="text/css">
  {{ data.widget.style }}
</style>

<div id="{{ data.widget.id }}" class="{{ data.widget.clasecontainerprincipal }}" style="{{ data.widget.estilo }}">
	<br>
	{{ utils.modulos(data.page, 'modulos', 'full') }}

</div>

