{% import "macros/utils.html" as utils %}

<style type="text/css">
  {{ data.widget.style }}
</style>

<div style="justify-content: center; display: flex;">
	<a href="#contact-us" target="" title="" class="buttom mega-uae-btn hvr-fade " style="transition: all 0.2s ease 0s;color: #ffffff;background: #e61b80 ; border: 0px solid ; border-radius: 11px; font-size: 20px; padding: 15px 35px;" data-text=""> 
		<span><i style="padding-right: 5px;" class=""> </i> Contáctanos</span>			
		<span style="background: #187cc0; padding: 15px 0; color: #ffffff;" class="advanced-btn-after"></span>
	</a>
<div style="clear: both;"></div>

