<script type="text/javascript">
    

    function cargardestino(namedestino) {
       $('#users-form').trigger('reset');
  $('#destino').val(namedestino) ;
loadfechaform();
grecaptcha.reset();
var x = document.querySelectorAll("#submit");
  x[0].setAttribute('style', 'display: none !important');


  var divdestino = document.querySelectorAll("#divdestino");
  divdestino[0].setAttribute('style', 'display: block !important');
  var divfecha = document.querySelectorAll("#divfecha");
  divfecha[0].setAttribute('style', 'display: block !important');
  $('#exampleModalScrollable').modal('show');






}





</script>
<!-- Featured properties start -->
<div class="featured-properties content-area-7" style="width: 100%">
    <div class="container-fluid">
        <div class="main-title">
           <p style = "font-family:blacksword;font-size:20px;font-style:italic;"><font color="#BC08B0"> #Escoje tu                            </font></p>
            <h1>Promoción</h1>
        </div>
        <div class="slick-fullwidth">
            



    {% for piece in data.widget._pieces %}
     

<div class="slick-slide-item" onclick="cargardestino('{{piece.nombreDestino}}')">
                <div class="property-box"  style="cursor:pointer">
                    <div class="property-thumbnail">
                        <a  style="cursor:pointer" class="property-img">
                          <div class="tag button alt featured">
                            {{piece.nombreDestino}}
                        </div>
                            <div class="price-ratings-box">
                                <p class="price">
                                  {{piece.precio}}
                                </p>
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                            
                            <img src="{{piece.imagen}}" alt="property-3" class="img-fluid">
                        </a>
                        
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a  style="cursor:pointer">
                              {{piece.nombreDestino}}
                          </a>
                        </h1>
                        <div class="location">
                            <a  style="cursor:pointer">
                                <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>
                                {{piece.location}}
                            </a>
                        </div>
                       <!--  <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-bed"></i>
                                {{piece.bedrooms}}
                            </li>
                            <li>
                                <i class="flaticon-bath"></i>
                                {{piece.bathrooms}}
                            </li>
                            <li>
                                <i class="flaticon-square-layouting-with-black-square-in-east-area"></i>
                                {{piece.Lugar}}
                            </li>
                            <li>
                                <i class="flaticon-car-repair"></i>
                                {{piece.garage}}
                            </li>
                        </ul> -->
                    </div>
                   <!--  <div class="footer">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            {{piece.user}}
                        </a>
                        <span>
                            <i class="fa fa-calendar-o"></i>
                            {{piece.calendar}}
                        </span>
                    </div> -->
                </div>
            </div>


    {% endfor %}

            <div class="slick-prev slick-arrow-buton" style="display: none !important;">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton" style="display: none !important;">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
<!-- Featured properties end -->

























