
{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% import "macros/utils.html" as utils with context %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
 Travel Pass: Grandes Descuentos
{% endblock %}

{% block standardHead %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

{% block extraHead %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
  <style type="text/css">
    body{
      background: black;
      font-size: 14px;
    }
  </style>
 {% endblock %}



{% block main %}
<div class="container" style="min-height: 100vh;
background: rgba(122,145,153,1);
background: -moz-linear-gradient(top, rgba(122,145,153,1) 0%, rgba(194,241,255,1) 58%, rgba(194,241,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(122,145,153,1)), color-stop(58%, rgba(194,241,255,1)), color-stop(100%, rgba(194,241,255,1)));
background: -webkit-linear-gradient(top, rgba(122,145,153,1) 0%, rgba(194,241,255,1) 58%, rgba(194,241,255,1) 100%);
background: -o-linear-gradient(top, rgba(122,145,153,1) 0%, rgba(194,241,255,1) 58%, rgba(194,241,255,1) 100%);
background: -ms-linear-gradient(top, rgba(122,145,153,1) 0%, rgba(194,241,255,1) 58%, rgba(194,241,255,1) 100%);
background: linear-gradient(to bottom, rgba(122,145,153,1) 0%, rgba(194,241,255,1) 58%, rgba(194,241,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a9199', endColorstr='#c2f1ff', GradientType=0 );
">
  <div id="toolbar">
    <button id="button" class="btn btn-secondary">Eliminar</button>
    <button id="buttonRefresh" class="btn btn-secondary">Actualizar</button>
  </div>
  <table style="transition-duration: 2s; " 
  id="table"
  data-toggle="table"
  data-toolbar="#toolbar"
  data-pagination="true"
  data-unique-id="_id"
  data-search="true"
  data-click-to-select="true"
  data-url="/mongo">
  <thead>
    <tr style="background-color: #5f9ea0;">
      <th data-field="state" data-checkbox="true"></th>
      <th data-field="_id">ID</th>
      <th data-field="createdAt">Fecha de creación</th>
      <th data-field="destino">Nombre de Destino</th>
      <th data-field="fecha">Fecha</th>
      <th data-field="cpname">Nombre</th>
      <th data-field="cpemail">Correo</th>
      <th data-field="cpphone">Teléfono</th>
      <th data-field="cpmessage">Mensaje</th>
    </tr>
  </thead>
</table>
{% endblock %}


{% block jsCalls %}

<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

<script type="text/javascript">
    {{ data.js.globalCalls }}
    {{ data.js.reqCalls }}
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  var $table = $('#table')
  var $button = $('#button')
  var $buttonRefresh = $('#buttonRefresh')





  $(function() {


    $buttonRefresh.click(function () {
      $table.bootstrapTable('refresh')
    })



    $button.click(function () {


swal({
  title: "¿Estás seguro?",
  text: "Una vez eliminado, ¡no podrá recuperar estos datos!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
///borrar los archivos///
      var xhr = new XMLHttpRequest();
      var url = "/clients/delete";
      xhr.open("POST", url, true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
      //se recivio todo correctamente
        // var json = JSON.parse(xhr.responseText);
        // console.log(json.email + ", " + json.password);
        console.log("datos recividos correctamente");



        var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
  // alert(JSON.stringify(row))
  return row._id
})

        $table.bootstrapTable('remove', {
          field: '_id',
          values: ids
        })




      }
    };
    var data = JSON.stringify($table.bootstrapTable('getSelections'));
    xhr.send(data);
//se envio los datos

///fin de borrar los archivos///

    swal("¡Los datos han sido eliminados correctamente!)", {
      icon: "success",
    });
  } else {
    swal("¡Ha cancelado el borrado de los datos!");
  }
});







})
  })






</script>
</div>
{% endblock %}
