{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% import "macros/utils.html" as utils with context %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
 Travel Pass: Grandes Descuentos
{% endblock %}

{% block standardHead %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  {% endblock %}

  {% block extraHead %}
    <!-- External CSS libraries -->
    
    <link type="text/css" rel="stylesheet" href="assets/css/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="assets/css/jquery.selectBox.css">
    <link type="text/css" rel="stylesheet" href="assets/css/dropzone.css">
    <link type="text/css" rel="stylesheet" href="assets/css/rangeslider.css">
    <link type="text/css" rel="stylesheet" href="assets/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/leaflet.css">
    <link type="text/css" rel="stylesheet" href="assets/css/slick.css">
    <link type="text/css" rel="stylesheet" href="assets/css/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="assets/css/map.css">
    <link type="text/css" rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">
    
     <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    
  <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="assets/css/skins/default.css">

   
{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}


     <button id="commmit" type="button" onclick="formcommit()" style="position: fixed;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  <i class="fa fa-comments"></i>
</button>


<!-- main header start -->
<header class="main-header sticky-header" id="main-header-2" style="z-index: 10;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light rounded">
                    <a class="navbar-brand logo navbar-brand d-flex w-50 mr-auto" href="/">
                        <img src="assets/img/logos/black-logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- main header end -->


{% endblock %}


{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}




 







  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="align-items: center !important; justify-content: center !important;">
    <div class="modal-dialog  modal-notify modal-warning modal-dialog-centered"  style="top: 5%;" role="document">

        <!-- <div class="modal-content"> -->
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->

<div class="d-flex align-items-center justify-content-center"  >
        <!-- <div class="" id="formulario"  > -->
        <div class="row">
            <!-- Form -->
            <div class="nb-form " style="border-radius: 20px 20px 20px 20px;">
                <div class="row" style="box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5); border-radius: 20px 20px 0 0; margin: 0; background: #ff006c;">
                    <div class="col-10">
                       <p class="title">ENVIANOS UN MENSAJE</p> 
                    </div>
                     <div class="col-1">
                       <img src="https://www.davefeltz.com/assets/images/46745062_l.jpg" alt="" class="user-icon">
                    </div>
                
                </div>
               
                <p class="message">Queremos Saber De Ti</p>

                <form class="" id="users-form">

                 <div id="divdestino" class="form-group" style="display: none;" >
                    <label for="destino">Destino:</label><br>
                  <input id="destino" type="text" name="destino" style="width: 95%;" placeholder="Destino!!!" readonly>
              </div>
              <div id="divfecha" class="form-group" style="display: none;">
                <label for="example-date-input">Fecha:</label><br>
                 <input class="form-control" name="fecha" style="width: 95%;" type="date"  id="example-date-input">
                

             <script type="text/javascript">
                function loadfechaform() {
    var dat = new Date();

    if ((dat.getMonth()+1)<10) {
        document.getElementById('example-date-input').value =  dat.getFullYear() + "-0"+ (dat.getMonth()+1) + "-" + dat.getDate();
    }else {
       document.getElementById('example-date-input').value =  dat.getFullYear() + "-"+ (dat.getMonth()+1) + "-" + dat.getDate();
   } 
}  
loadfechaform();

         </script>
     </div>




     <div class="form-group">
      <input type="text" name="cpname" style="width: 95%;" placeholder="Nombre Completo:" required>
  </div>
  <div class="form-group">
     <input type="email" name="cpemail" style="width: 95%;" placeholder="Email:" >
 </div>
 <div class="form-group">
     <input type="tel" name="cpphone" style="width: 95%;" placeholder="Numero de Telefono:" >
 </div>
 <div class="form-group">
    <textarea name="cpmessage" style="width: 95%;" placeholder="Mensaje:" required></textarea>
</div>





     <!--  <div class="form-group col-12 d-flex justify-content-center">
        <div class="form-group">
          <img id="captcha" style="background-color: white" src="/captcha"/>
        </div>
        
      </div>
      
      <div class="form-group col-12 d-flex justify-content-center">
       <div class="form-group">
        <input name="text" class="form-control form-control-lg" type="text" placeholder="Captcha" required style="text-align: center;">
      </div>
  </div> -->

  <div id="html_element" data-callback="enableBtn" ></div>

  <button id="submit" class="d-flex justify-content-center" style="display: none !important;" type="submit" >Enviar</button>
</form>
<!-- </div> -->
</div>
</div>  



    

</div>
</div>
</div>



<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/slide1.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div class="t-center">
                           <p style = "font-family:blacksword;font-size:30px;font-style:italic;" data-animation="animated fadeInUp delay-10s">
                                #ViveExperiencias
                            </p>
                            <h1 data-animation="animated fadeInDown delay-05s"> Vacaciones En Familia</h1>
                          
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slide2.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div class="t-right">
                           <p style = "font-family:blacksword;font-size:30px;font-style:italic;" data-animation="animated fadeInUp delay-10s">
                                #ViveExperiencias
                            </p>
                            <h1 data-animation="animated fadeInDown delay-05s">Diversión, Aventura
                            <br/> y Placer</h1>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slide3.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div class="t-left">
                           <p style = "font-family:blacksword;font-size:30px;font-style:italic;" data-animation="animated fadeInUp delay-10s">
                                #ViveExperiencias
                            </p>
                            <h1 data-animation="animated fadeInUp delay-05s">Viaja, Descubre
 															<br/> y Disfruta </h1>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- banner end -->

{{ utils.modulos(data.page, 'modulo', 'one-half') }}


<!-- services start -->
<div class="services content-area-20 bg-white">
    <div class="container">
        <div class="main-title">
            <h1>Con Travel Pass obtén tu Certificado de Regalo,</h1>
            <h1>¡Compra ahora, viaja después!</h1>
        </div>
        
    </div>
</div>
<!-- services end -->

<!-- Agent start -->
<div class="blog content-area-2">
    <div class="container">
        <div class="main-title"><br><p></p><br>
            <p style = "font-family:blacksword;font-size:20px;font-style:italic;"><font color="#BC08B0"> #Escoje tu                            </font></p>
            <h1>Paquete Vacacional</h1>
            <p>LA VIDA NO SE MIDE POR LAS VECES QUE RESPIRAS, SINO POR LA VECES QUE TE DEJAN SIN ALIENTO.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInLeft delay-04s">
                <div class="agent-1">
                    <div class="agent-photo">
                        <a  style="cursor:pointer">
                            <img src="assets/img/alaska.jpg" alt="avatar" class="rounded-circle">
                        </a>
                    </div>
                    <div class="agent-details">
                        <h5><a  style="cursor:pointer">Crucero a Alazka</a></h5>
                        <p>8 dias y 7 noches</p>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp delay-04s">
                <div class="agent-1">
                    <div class="agent-photo">
                        <a  style="cursor:pointer">
                            <img src="assets/img/brazil.jpg" alt="avatar-2" class="rounded-circle">
                        </a>
                    </div>
                    <div class="agent-details">
                        <h5><a  style="cursor:pointer">Circuito a Brazil</a></h5>
                        <p>10 dias y 9 noches</p>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 wow fadeInRight delay-04s" >
                <div class="agent-1">
                    <div class="agent-photo">
                        <a  style="cursor:pointer">
                            <img src="assets/img/safari.jpg" alt="avatar-4" class="rounded-circle">
                        </a>
                    </div>
                    <div class="agent-details">
                        <h5><a  style="cursor:pointer">Safari Africano</a></h5>
                        <p>6 dias y 5 noches</p>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div >
<!-- Agent end -->

<!-- intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <img src="assets/img/logos/logo-white.png" alt="loo" width="144" height="33">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="intro-text">
                    <h3>¡Viaja y disfruta la vida!</h3>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12">
                <a href="#" onclick="abrirmodalform()" class="btn btn-md sn">Descubre como</a>
           
            </div>
        </div>
    </div>
</div>
<!-- intro section end -->



<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="button" class="btn btn-sm btn-color">Search</button>
    </form>
</div>

<!-- Property Video Modal -->
<div class="modal property-modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-labelledby="propertyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="propertyModalLabel">
                    Find Your Dream Properties
                </h5>
                <p>
                    <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 modal-left">
                        <div class="modal-left-content">
                            <div id="modalCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <iframe class="modalIframe" src="https://www.youtube.com/embed/5e0LxrLSzok"  allowfullscreen></iframe>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://placehold.it/400x266" alt="Test ALT">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://placehold.it/400x266" alt="Test ALT">
                                    </div>
                                </div>
                                <a class="control control-prev" href="#modalCarousel" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="control control-next" href="#modalCarousel" role="button" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            <div class="description"><h3>Description</h3>
                                <p>
                                    Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque
                                    massa, viverra interdum eros ut, imperdiet pellentesque mauris. Proin sit amet scelerisque
                                    risus. Donec
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 modal-right">
                        <div class="modal-right-content bg-white">
                            <strong class="price">
                                $178,000
                            </strong>
                            <section>
                                <h3>Features</h3>
                                <ul class="bullets">
                                    <li><i class="flaticon-bed"></i> Double Bed</li>
                                    <li><i class="flaticon-swimmer"></i> Swimming Pool</li>
                                    <li><i class="flaticon-bath"></i> 2 Bathroom</li>
                                    <li><i class="flaticon-car-repair"></i> Garage</li>
                                    <li><i class="flaticon-parking"></i> Parking</li>
                                    <li><i class="flaticon-theatre-masks"></i> Home Theater</li>
                                    <li><i class="flaticon-old-typical-phone"></i> Telephone</li>
                                    <li><i class="flaticon-green-park-city-space"></i> Private space</li>
                                </ul>
                            </section>
                            <section>
                                <h3>Overview</h3>
                                <dl>
                                    <dt>Area</dt>
                                    <dd>2500 Sq Ft:3400</dd>
                                    <dt>Condition</dt>
                                    <dd>New</dd>
                                    <dt>Year</dt>
                                    <dd>2018</dd>
                                    <dt>Price</dt>
                                    <dd>$178,000</dd>
                                </dl>
                            </section>
                            <a href="#" class="btn btn-show btn-theme">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Off-canvas sidebar -->
<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header">
            <a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
        </div>
        <div class="off-canvas-content">
            <aside class="canvas-widget">
                <div class="logo-sitebar text-center">
                    <img src="assets/img/logos/logo.png" alt="logo">
                </div>
            </aside>
            <aside class="canvas-widget">
                <ul class="menu">
                    <li class="menu-item menu-item-has-children"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="properties-grid-leftside.html">Properties List</a></li>
                    <li class="menu-item"><a href="#">Property Detail</a></li>
                    <li class="menu-item"><a href="blog-single-sidebar-right.html">Blog</a></li>
                    <li class="menu-item"><a href="about-1.html">About  US</a></li>
                    <li class="menu-item"><a href="contact-1.html">Contact US</a></li>
                </ul>
            </aside>
            <aside class="canvas-widget">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>




{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}



<!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>  -->
<!-- <script src="assets/js/rangeslider.js"></script> -->










<!-- Custom JS Script -->

<!-- <script src="/modules/my-apostrophe-pages/js/always.js"></script> -->
<!-- Google fonts -->



{% endblock %}

{% block jsCalls %}



<script type="text/javascript">
    {{ data.js.globalCalls }}
    {{ data.js.reqCalls }}
</script>
<!-- External JS libraries -->
<!-- <script src="assets/js/jquery-2.2.0.min.js"></script> -->
<script  src="assets/js/app.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/dropzone.js"></script>
<script src="assets/js/jquery.scrollUp.js"></script>
<script src="assets/js/jquery.selectBox.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/jquery.filterizr.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/typed.min.js"></script>
<script src="assets/js/jquery.countdown.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/backstretch.js"></script>
<script src="assets/js/maps.js"></script>
<script src="assets/js/jquery.mb.YTPlayer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="assets/js/ie-emulation-modes-warning.js"></script>



<script src="assets/js/leaflet.js"></script>
<script src="assets/js/leaflet-providers.js"></script>
<script src="assets/js/leaflet.markercluster.js"></script>

<script type="text/javascript">
    // document.getElementById("submit").css = true;
 // $('#submit').css('transition', 'all .8s cubic-bezier(.22, .67, .43, 1.22) .2s');
 // $("#submit").fadeIn(2000);

function enableBtn(){
   // $("#submit").fadeIn(2000);
    $('#submit').css('display', 'block');
   }

  var onloadCallback = function() {
    // alert("grecaptcha is ready!");
    grecaptcha.render('html_element', {
          'sitekey' : '6LcQFNEUAAAAAN_ivbfUHGMphrgyM8DY-WKiCbfy'
        });
};

function abrirmodalform(cadena){
$('#exampleModalScrollable').modal('show');
    }
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
async defer>
</script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




<script type="text/javascript">
        
function formcommit() {

$('#users-form').trigger('reset');
function loadfechaform() {
    var dat = new Date();

    if ((dat.getMonth()+1)<10) {
        document.getElementById('example-date-input').value =  dat.getFullYear() + "-0"+ (dat.getMonth()+1) + "-" + dat.getDate();
    }else {
       document.getElementById('example-date-input').value =  dat.getFullYear() + "-"+ (dat.getMonth()+1) + "-" + dat.getDate();
   } 
}  
  $('#destino').val('') ;


  grecaptcha.reset();
    // $('#submit').css('display', "none !important");
    var x = document.querySelectorAll("#submit");
  x[0].setAttribute('style', 'display: none !important');


  var a = document.querySelectorAll("#divdestino");
  a[0].setAttribute('style', 'display: none !important');
  var b = document.querySelectorAll("#divfecha");
  b[0].setAttribute('style', 'display: none !important');
}


    $('#users-form').submit(function () {
    $.post('/clients/insert', $('#users-form').serialize(), function (result) {
        
        if (result.status === 200) {
           swal({
            showCancelButton: false,
            reverseButtons: true,
            title:"Gracias por elegirnos!",
            icon:"success",
            confirmButtonText: 'OK',
           }).then((resulta) => {
 // alert("funciona bien y entra a los valores");
    // disableBtn();
    grecaptcha.reset();
    // $('#submit').css('display', "none !important");
    var x = document.querySelectorAll("#submit");
  x[0].setAttribute('style', 'display: none !important');

    formcommit();

    $('#exampleModalScrollable').modal('hide');
    // $('#exampleModalScrollable').modal('dispose');
    $('#users-form').trigger('reset');
  
  
});
            // alert('Gracias por elegirnos!');
            
            // $('#captcha').attr("src", "/captcha");
        } else {
            swal({
                showCancelButton: false,
            reverseButtons: true,
                title:"Ups..., algo salio mal...",
                icon:"error",
                text: result.error,
                confirmButtonText: 'OK',
            }).then((resulta) => {
 // alert("funciona bien y entra a los valores");
 grecaptcha.reset();
 
  var x = document.querySelectorAll("#submit");
  x[0].setAttribute('style', 'display: none !important');

    // $('#exampleModalScrollable').modal('hide');
    // $('#exampleModalScrollable').modal('dispose');
    
  
  
});
            // alert("ups..., algo salio mal..." + " \n - Error: "+ result.error);
            // $('#captcha').attr("src", "/captcha");
        }
    });
    return false;
});

function abrirform(){
$('.nb-form').css("bottom", "0");    
}

function cerrarform(){


if (screen.width <= 676){
$('.nb-form').css("bottom", "-405px");
}else{
$('.nb-form').css("bottom", "-440px");
}


 
}

// $("#captcha").click(function(){
//         // Change src attribute of image
//         $(this).attr("src", "/captcha");
//     }); 
</script>




{% endblock %}